<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.changgx.mapper.BookMapper">
    <select id="findAll" resultType="Book">
        select * from book
    </select>

    <select id="findBookByISDN" resultType="Book" parameterType="Integer">
        select * from book where ISDN=#{isdn}
    </select>

    <update id="update" parameterType="Integer">
        update  book set num=num-1 where isdn=#{isdn}
    </update>
    <update id="test">
        select * from bookccs
    </update>
</mapper>
